.maincontainer {
	min-height: 25em;
}

.connectbutton {
    min-width: 5em;
}

.green {
    background: darkgreen;
}

.red {
    background: darkred;
}

popover {
	padding: 0.6em;
}

.bridgeslist {
	min-height: 15em;
}
